<div class="description">
  <h5>KCarシフトとは</h5>
  <p></p>
</div>

<div class="login-new">
  <h5>オーナーの方</h5>
  <%= link_to 'ログイン', new_owner_session_path, class: 'btn btn-primary' %>
  <%= link_to '新規登録', new_owner_registration_path, class: 'btn btn-primary' %>
</div>

<div class="login-new">
  <h5>従業員・アルバイトの方</h5>
  <%= link_to 'ログイン', new_employee_session_path, class: 'btn btn-primary' %>
  <%= link_to '新規登録', new_employee_registration_path, class: 'btn btn-primary' %>
</div>