<h1>Kitchen Car</h1>
<p>キッチンカー専用勤怠管理アプリ</p>

<h3>オーナー</h3>
<%= link_to 'ログイン', new_owner_session_path %>
<%= link_to '新規登録', new_owner_registration_path %>
<h3>従業員・アルバイト</h3>
<%= link_to 'ログイン', new_employee_session_path %>
<%= link_to '新規登録', new_employee_registration_path %>