<h1>Editing owner post</h1>

<%= render "form", owner_post: @owner_post %>

<br>

<div>
  <%= link_to "Show this owner post", @owner_post %> |
  <%= link_to "Back to owner posts", owner_posts_path %>
</div>
